h3 {
    img#registraricons {
        width  : 2vw;
        padding: 0 1% 0 0;
    }
}

h2 {
    img#registraricons:nth-child(odd){
        width  : 2vw;
        padding: 1% 1% 0 1%;
    }
    & :nth-child(even){
        width  : 8vw;
        padding: 1% 1% 0 1%;
    }
}

#divicons1 {
    img {
        width : 5vw;
        height: auto;
        padding: 3% 3% 1% 1%;
    }
}
#divicons2 {
    img {
        width : 6vw;
        height: auto;
        padding: 3% 5% 3% 5%;
        align-items:center;
    }
}

div#split{
    border-top: solid 3px $light;
                width     : 30%;
                margin    : 15px auto;
}