@import 'variables';

body {
    background-color: $grey;
    color           : $light;
    font-family     : Montserrat Alternates;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    width           : 100vw;

    h2 {
        margin-left: 10vw;
        font-size  : 2.5em;
        font-weight: 700;
    }

    form {
        display       : flex;
        flex-direction: column;
        width         : 50vw;
        margin        : 3vw 0 0 5vw;

        label {
            font-size    : 1.2em;
            font-weight  : 500;
            margin-bottom: 1%;
        }

        input {
            height       : 30px;
            margin-bottom: 3%;

            &::placeholder {
                font-family : Montserrat Alternates;
                padding-left: 1%;
            }

            &:focus {
                outline: none;
                border : 2px solid $gold;
            }
        }

        textarea:focus {
            outline: none;
            border : 2px solid $gold;
        }

        button {
            margin          : 3% 0;
            background-color: $gold;
            color           : $light;
            border          : 1px solid $light;
            height          : 25px;
        }
    }

}