@import "variables";
@import "icons";

body {
    margin    : 0;
    padding   : 0;
    width     : 100vw;
    overflow-x: hidden;

    header {
        margin          : 0;
        padding         : 0;
        font-family     : Caveat;
        width           : 100%;
        height          : 350px;
        background-color: $blue;
        display         : flex;

        div.image {
            width      : 30%;
            display    : flex;
            align-items: center;

            img {
                width        : 200px;
                height       : auto;
                // transform: translate(-350px, -68px);
                z-index      : 1;
                box-shadow   : 0 0 20px #8CA2AA;
                border-radius: 10px;
            }
        }

        div.name {
            width          : 70%;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            z-index        : 2;

            div.nametitle {
                color      : $gold;
                font-size  : 75px;
                font-weight: 700;
                width      : 80%;
                margin     : 0 auto;
                text-align : center;
            }

            div.subtitle {
                color      : $light;
                font-size  : 30px;
                font-weight: 500;
                width      : 80%;
                margin     : 0 auto;
                text-align : center;
            }

            div.line {
                border-top: solid 3px $gold;
                width     : 30%;
                margin    : 15px auto;
            }
        }
    }

    main {
        font-family: Montserrat Alternates;

        section.aboutme {
            background-color: $blue;
            color           : $light;
            font-family     : Montserrat Alternates;
            display         : flex;
            flex-direction  : column;
            justify-content : center;

            h3 {
                padding: 10px;
                margin : 0 auto;
                width  : 80vw;
            }

            p.aboutme {
                height    : auto;
                margin    : 0 auto;
                padding   : 10px 40vw 30px 10vw;
                width     : 50vw;
                text-align: justify;
            }
        }

        section#main {
            width     : 200vw;
            transition: 500ms ease-in-out;
            height    : 1500px;
            display   : flex;

            section.devweb {
                width           : 80vw;
                background-color: $blue-light;

                h3 {
                    color       : $light;
                    font-size   : 2em;
                    padding-left: 10%;
                    margin: 2% 0;
                }

                p {
                    color     : $light;
                    width     : 80%;
                    margin    : 0 auto;
                    padding   : 1% 0 1% 0;
                    text-align: justify;

                    span.dateforma {
                        font-weight: bold;
                        font-size  : 1.1em;
                        color      : $blue;
                    }

                    span.titreforma {
                        font-weight: bold;
                        font-size  : 1.3em;
                    }

                    a {
                        text-decoration: none;
                        color          : $blue;

                        &:hover {
                            font-size: 1.1em;
                        }
                    }
                }

                div.languagesicons {
                    display       : flex;
                    flex-direction: column;

                    div.languages {
                        display       : flex;
                        flex-direction: column;
                        align-items   : center;
                        padding       : 3%;
                        margin        : 2% 8% 2% 8%;
                        box-shadow    : 0 0 20px $shadow2;
                        p.languageslist{
                            margin: 0;
                        }
                        div#divicons1{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                        }
                    }
                    div.library{
                        display       : flex;
                        flex-direction: column;
                        align-items   : center;
                        padding       : 3%;
                        margin        : 2% 8% 2% 8%;
                        box-shadow    : 0 0 20px $shadow2;
                        p.bdd{
                            margin: 0;
                        }
                        div#divicons2{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                        }
                    }
                }

                div.github{
                    display: flex;
                    padding-left: 2vw;
                    h2 {
                        color       : $light;
                        font-size   : 1.5em;
                        padding-left: 10%;
                        margin: 2% 0;
                        font-weight: 600;
                    }
                }
            }

            section.slide {
                font-weight     : bold;
                width           : 40vw;
                color           : $light;
                background-color: $gold;
                display         : flex;
                justify-content : space-around;
                align-items     : center;

                div.chevron {
                    position      : sticky;
                    bottom        : 10%;
                    top           : 10%;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;

                    label {
                        font-size: 1.2rem;
                        padding  : 2%;
                    }

                    img {
                        width     : 20%;
                        max-height: 20%;

                        &:hover {
                            width: 22%;
                        }
                    }
                }
            }

            section.registrar {
                width           : 80vw;
                background-color: $grey;
                color           : $light;

                div.formation {
                    width: 100%;

                    h3 {
                        font-size   : 2em;
                        padding-left: 5%;
                    }

                    div.studies {
                        width     : 80%;
                        margin    : 0 auto 0 5%;
                        text-align: justify;

                        a {
                            text-decoration: none;
                            color          : $blue;

                            &:hover {
                                font-size: 1.1em;
                            }
                        }

                        ul {
                            margin-left  : 8%;
                            padding      : 3%;
                            margin-bottom: 6%;
                            box-shadow   : 0 0 20px $shadow1;

                            li {
                                padding: 1% 0 1% 0;
                            }
                        }
                    }

                    div.degrees {
                        width : 95%;
                        margin: 0 auto 0 7%;

                        h4 {
                            font-size: 1.2em;
                        }

                        ul {
                            padding      : 3%;
                            margin-bottom: 6%;
                            box-shadow   : 0 0 20px $shadow1;

                            li {
                                padding: 1% 0 1% 0;
                            }
                        }
                    }
                }

                div.stages {
                    width: 100%;

                    h3 {
                        font-size   : 2em;
                        padding-left: 5%;
                    }

                    div.trainee {
                        width     : 80%;
                        margin    : 0 auto 0 5%;
                        text-align: justify;

                        ul {
                            margin-left  : 8%;
                            margin-bottom: 6%;
                            padding      : 3%;
                            box-shadow   : 0 0 20px $shadow1;

                            li {
                                padding: 1% 0 1% 0;
                            }
                        }
                    }
                }

                div.exppro {
                    width: 100%;

                    h3 {
                        font-size   : 2em;
                        padding-left: 5%;
                    }

                    div.job {
                        width     : 80%;
                        margin    : 0 auto 0 5%;
                        text-align: justify;

                        a {
                            text-decoration: none;
                            color          : $blue;

                            &:hover {
                                font-size: 1.1em;
                            }
                        }

                        ul {
                            margin-left: 8%;
                            padding    : 3%;
                            box-shadow : 0 0 20px #858881;

                            li {
                                padding: 1% 0 1% 0;
                            }
                        }

                    }
                }
            }
        }
    }
}