@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h3 img#registraricons {
  width: 2vw;
  padding: 0 1% 0 0;
}

h2 img#registraricons {
  width: 2vw;
  padding: 1% 1% 0 1%;
}
h2 a {
  text-decoration: none;
  color: inherit;
}
h2 a img#registrariconslink1 {
  width: 8vw;
  padding: 1% 3% 0 6%;
}
h2 a img#registrariconslink2 {
  width: 2vw;
  padding: 1% 1% 0 0;
}

#divicons1 img {
  width: 5vw;
  height: auto;
  padding: 3% 3% 1% 1%;
}

#divicons2 img {
  width: 6vw;
  height: auto;
  padding: 3% 5% 3% 5%;
  align-items: center;
}

div#split {
  border-top: solid 3px #F1F1ED;
  width: 30%;
  margin: 25px auto 45px;
}

div.jobtitle img {
  width: 3vw;
  padding-left: 2%;
}

#interestsicons {
  width: 3vw;
  height: auto;
  padding: 0 1%;
}

div#slide {
  font-size: 9em;
}

div.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 45vw;
  box-shadow: 0 0 20px #858881;
}
div.carousel-container div.carousel-title {
  font-weight: 700;
}
div.carousel-container div.carousel-slides {
  width: 40vw;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: center;
}
div.carousel-container div.carousel-slides div.images-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
div.carousel-container div.carousel-slides div.images-div img.registrar-carousel {
  height: 20vw;
  width: auto;
  margin: 1%;
}

body {
  background-color: #93968F;
  color: #F1F1ED;
  font-family: Montserrat Alternates;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
body h2 {
  margin-left: 10vw;
  font-size: 2.5em;
  font-weight: 700;
}
body form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 3vw 0 0 5vw;
}
body form label {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1%;
}
body form input {
  height: 30px;
  margin-bottom: 3%;
}
body form input::placeholder {
  font-family: Montserrat Alternates;
  padding-left: 1%;
}
body form input:focus {
  outline: none;
  border: 2px solid #907D50;
}
body form textarea:focus {
  outline: none;
  border: 2px solid #907D50;
}
body form button {
  margin: 3% 0;
  background-color: #907D50;
  color: #F1F1ED;
  border: 1px solid #F1F1ED;
  height: 25px;
}

h3 img#registraricons {
  width: 2vw;
  padding: 0 1% 0 0;
}

h2 img#registraricons {
  width: 2vw;
  padding: 1% 1% 0 1%;
}
h2 a {
  text-decoration: none;
  color: inherit;
}
h2 a img#registrariconslink1 {
  width: 8vw;
  padding: 1% 3% 0 6%;
}
h2 a img#registrariconslink2 {
  width: 2vw;
  padding: 1% 1% 0 0;
}

#divicons1 img {
  width: 5vw;
  height: auto;
  padding: 3% 3% 1% 1%;
}

#divicons2 img {
  width: 6vw;
  height: auto;
  padding: 3% 5% 3% 5%;
  align-items: center;
}

div#split {
  border-top: solid 3px #F1F1ED;
  width: 30%;
  margin: 25px auto 45px;
}

div.jobtitle img {
  width: 3vw;
  padding-left: 2%;
}

#interestsicons {
  width: 3vw;
  height: auto;
  padding: 0 1%;
}

div#slide {
  font-size: 9em;
}

div.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 45vw;
  box-shadow: 0 0 20px #858881;
}
div.carousel-container div.carousel-title {
  font-weight: 700;
}
div.carousel-container div.carousel-slides {
  width: 40vw;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: center;
}
div.carousel-container div.carousel-slides div.images-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
div.carousel-container div.carousel-slides div.images-div img.registrar-carousel {
  height: 20vw;
  width: auto;
  margin: 1%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body header nav {
  background-color: #263741;
  width: 100%;
  font-family: Montserrat Alternates;
}
body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5vw;
}
body header nav ul li {
  color: #F1F1ED;
  margin: 1%;
  list-style: none;
  min-width: 10vw;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}
body header nav ul li a {
  text-decoration: none;
  color: inherit;
}
body header nav ul li a:hover {
  color: #907D50;
  border-bottom: 1px solid #907D50;
  transition: all 0.5s ease-in-out;
}

div.banner {
  margin: 0;
  padding: 0;
  font-family: Caveat;
  width: 100vw;
  height: 40vh;
  background-color: #263741;
  display: flex;
}
div.banner div.image {
  width: 30%;
  display: flex;
  align-items: center;
}
div.banner div.image img {
  width: 200px;
  height: auto;
  z-index: 1;
  box-shadow: 0 0 20px #01171f;
  border-radius: 50px 15px;
}
div.banner div.name {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
div.banner div.name div.nametitle {
  color: #907D50;
  font-size: 75px;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
div.banner div.name div.subtitle {
  color: #F1F1ED;
  font-size: 30px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
div.banner div.name div.line {
  border-top: solid 3px #907D50;
  width: 30%;
  margin: 15px auto;
}

h2.projects-section-title {
  margin: 1% 0 2% 5%;
}

main.projects-ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
main.projects-ctn section.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5% 2%;
}
main.projects-ctn section.project div.project-title {
  font-size: 2.5rem;
  color: #263741;
  padding: 0 0 5% 0;
}
main.projects-ctn section.project a img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px #263741;
}
main.projects-ctn section.project a img:hover {
  box-shadow: 0 0 40px #263741;
}
main.projects-ctn section.project div.project-description {
  width: 100%;
  padding: 5%;
  font-size: 1.2rem;
  text-align: center;
  color: #263741;
  display: flex;
  flex-direction: column;
}
main.projects-ctn section.project div.project-description a {
  color: #F1F1ED;
}
main.projects-ctn section.project div.project-description span.smaller {
  font-size: 1rem;
  margin: 5% 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  font-family: Montserrat Alternates;
}
main section.aboutme {
  background-color: #263741;
  color: #F1F1ED;
  font-family: Montserrat Alternates;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/filrouge9.jpg);
  background-size: cover;
  background-position-y: center;
  height: 300px;
}
main section.aboutme h3 {
  padding: 25px;
  margin: 0 auto;
  width: 80vw;
}
main section.aboutme p.aboutme {
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 70vw;
  text-align: justify;
}
main section#main {
  width: 200vw;
  transition: 500ms ease-in-out;
  display: flex;
}
main section#main section.devweb {
  width: 80vw;
  background-color: #93968F;
}
main section#main section.devweb h3 {
  color: #F1F1ED;
  font-size: 2em;
  padding-left: 10%;
  margin: 2% 0;
}
main section#main section.devweb p {
  color: #F1F1ED;
  width: 80%;
  margin: 0 auto;
  padding: 1% 0 1% 0;
  text-align: justify;
}
main section#main section.devweb p span.dateforma {
  font-weight: bold;
  font-size: 1.1em;
  color: #263741;
}
main section#main section.devweb p span.titreforma {
  font-weight: bold;
  font-size: 1.3em;
}
main section#main section.devweb p a {
  text-decoration: none;
  color: #263741;
}
main section#main section.devweb p a:hover {
  font-size: 1.1em;
}
main section#main section.devweb div.languagesicons {
  display: flex;
  flex-direction: column;
}
main section#main section.devweb div.languagesicons div.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: 2% 8% 2% 8%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.devweb div.languagesicons div.languages p.languageslist {
  margin: 0;
}
main section#main section.devweb div.languagesicons div.languages div#divicons1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main section#main section.devweb div.languagesicons div.languages div#divicons1 img {
  margin: 2vh 1vw 0;
  background-color: #F1F1ED;
  box-shadow: 0 0 20px #263741;
}
main section#main section.devweb div.languagesicons div.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin: 2% 8% 2% 8%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.devweb div.languagesicons div.library p.bdd {
  margin: 0;
}
main section#main section.devweb div.languagesicons div.library div#divicons2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section#main section.devweb div.languagesicons div.library div#divicons2 img {
  margin: 2vh 1vw 0;
  background-color: #F1F1ED;
  box-shadow: 0 0 20px #263741;
}
main section#main section.devweb div.github {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-left: 2vw;
}
main section#main section.devweb div.github h2 {
  color: #F1F1ED;
  font-size: 1.5em;
  padding-left: 10%;
  margin: 2% 0;
  font-weight: 600;
  width: 90%;
}
main section#main section.devweb div.github a {
  width: 10%;
}
main section#main section.devweb div.github a img {
  width: 3vw;
}
main section#main section.slide {
  font-weight: bold;
  width: 40vw;
  color: #F1F1ED;
  background-color: #907D50;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main section#main section.slide div.chevron {
  position: sticky;
  bottom: 20%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0 3% 0;
}
main section#main section.slide div.chevron label {
  font-size: 1.2rem;
  padding: 2%;
}
main section#main section.slide div.chevron img {
  width: 20%;
  max-height: 20%;
}
main section#main section.slide div.chevron img:hover {
  width: 22%;
}
main section#main section.registrar {
  width: 80vw;
  background-color: #93968F;
  color: #F1F1ED;
}
main section#main section.registrar div.formation {
  width: 100%;
}
main section#main section.registrar div.formation h3 {
  font-size: 2em;
  padding-left: 5%;
}
main section#main section.registrar div.formation div.studies {
  width: 80%;
  margin: 0 auto 0 5%;
  text-align: justify;
}
main section#main section.registrar div.formation div.studies a {
  text-decoration: none;
  color: #263741;
}
main section#main section.registrar div.formation div.studies a:hover {
  font-size: 1.1em;
}
main section#main section.registrar div.formation div.studies ul {
  margin-left: 8%;
  padding: 3%;
  margin-bottom: 6%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.registrar div.formation div.studies ul li {
  padding: 1% 0 1% 0;
}
main section#main section.registrar div.formation div.degrees {
  width: 95%;
  margin: 0 auto 0 7%;
}
main section#main section.registrar div.formation div.degrees h4 {
  font-size: 1.2em;
}
main section#main section.registrar div.formation div.degrees ul {
  padding: 3%;
  margin-bottom: 6%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.registrar div.formation div.degrees ul li {
  padding: 1% 0 1% 0;
}
main section#main section.registrar div.stages {
  width: 100%;
}
main section#main section.registrar div.stages h3 {
  font-size: 2em;
  padding-left: 5%;
}
main section#main section.registrar div.stages div.trainee {
  width: 80%;
  margin: 0 auto 0 5%;
  text-align: justify;
}
main section#main section.registrar div.stages div.trainee ul {
  margin-left: 8%;
  margin-bottom: 6%;
  padding: 3%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.registrar div.stages div.trainee ul li {
  padding: 1% 0 1% 0;
}
main section#main section.registrar div.exppro {
  width: 100%;
}
main section#main section.registrar div.exppro h3 {
  font-size: 2em;
  padding-left: 5%;
}
main section#main section.registrar div.exppro div.job {
  width: 80%;
  margin: 0 auto 0 5%;
  text-align: justify;
}
main section#main section.registrar div.exppro div.job a {
  text-decoration: none;
  color: #263741;
}
main section#main section.registrar div.exppro div.job a:hover {
  font-size: 1.1em;
}
main section#main section.registrar div.exppro div.job ul {
  margin-left: 8%;
  padding: 3%;
  box-shadow: 0 0 20px #858881;
}
main section#main section.registrar div.exppro div.job ul li {
  padding: 1% 0 1% 0;
}
main section#main div.otherjobs {
  color: #F1F1ED;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
main section#main div.otherjobs ul {
  padding: 3%;
  margin-bottom: 3%;
  box-shadow: 0 0 20px #858881;
}
main section#main div.otherjobs ul div.jobtitle {
  font-size: 1.2em;
  font-weight: 700;
  text-align: end;
  border-bottom: 1px solid;
  margin-bottom: 2%;
}
main section#main div.otherjobs ul li {
  padding: 1% 0 1% 3%;
}
main section#main div.otherjobs ul li span {
  font-weight: 600;
}

section.interests {
  margin: 0;
  padding: 1% 0 3%;
  background-color: #263741;
  color: #F1F1ED;
}
section.interests div.outside {
  font-size: 1.5em;
  font-weight: 700;
  color: #F1F1ED;
  padding: 2% 0 0 10%;
}
section.interests p {
  width: 80%;
  margin: 1% auto;
}
section.interests div.languages {
  margin: 2% 10% 2% 5%;
}
section.interests div.sports {
  margin: 2% 7% 2% 8%;
}
section.interests div.sew {
  margin: 2% 4% 2% 11%;
}
section.interests div.fun {
  padding: 1%;
  text-align: justify;
  box-shadow: 0 0 20px #222e35;
}
section.interests div.fun span {
  font-weight: 600;
  color: #8CA2AA;
}
section.interests div.fun a {
  text-decoration: none;
  color: #8CA2AA;
}
section.interests div.fun a:hover {
  font-size: 1.1em;
}

footer {
  background-color: #8CA2AA;
  color: #F1F1ED;
  font-size: 0.8em;
  text-align: center;
  padding: 2% 0;
}
footer a {
  text-decoration: none;
  color: #263741;
}
footer a:hover {
  color: #907D50;
}

/*# sourceMappingURL=index.css.map */
